[user]
	name = Fabio Morbec
	email = morbecfm@gmail.com
[color]
  diff = auto
  stats = auto
  branch = auto
  ui = auto
[core]
	editor = vim
	excludesfile = ~/.global-gitignore
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[alias]
  a = add
  cl = clone
  co = checkout
  ci = commit
  st = status
  br = branch
  s = switch
  revall = checkout
  rev = checkout
  graph = log --oneline --graph
[pager]
	branch = false
